.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  flex-shrink: 0;
  background-color: #e3e2d8;
  padding: 32px;
  gap: 32px;
}

.textWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  gap: 24px;
  text-align: center;
}

.imageWrap {
  width: 100%;
  flex: 0 0 auto;
}

.imageWrap img {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-family: var(--font-serif);
  font-weight: 500;
  font-style: italic;
  font-size: clamp(1rem, 2.5vw + 0.6rem, 2rem);
  line-height: 1.2;
  margin: 0;
  color: #000;
}

.title::first-letter {
  font-weight: 800;
  font-size: 2.4em;
}

.text {
  font-family: var(--font-serif);
  font-weight: 500;
  font-style: italic;
  font-size: clamp(1rem, 2.5vw + 0.6rem, 2rem);
  line-height: 1.2;
  margin: 0;
  color: #000;
}